<div id="tag_cloud">
  <% tag_cloud(Post.tag_counts, %w{small medium large}) do |tag, css_class| %>
    <span class="<%= css_class %>"><%= tag %></span>
  <% end %>
</div>
<h1>Listing posts</h1>
<% @posts.each do |post| %>
  <div class="row">
    <div class="span12">
      <div class="post">
        <ul class="options">
          <li><%= link_to 'Edit', edit_post_path(post) %></li>
          <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
        <h3><%= link_to post.title, post %></h3>
        <p><%= post.body %></p>
        <p><strong>Tags:</strong> <%= post.tag_list %></p>
      </div>
    </div>
  </div>
<% end %>
